In [197]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns

#Problem Statement - 01

In [198]:
from scipy import stats
from math import sqrt
n=200
x=int(input("Enter Highly satisfied customers, Please enter under 200 customers : "))
p=x/n
critical_value=stats.norm.ppf(0.9)
se=sqrt((p*(1-p))/n)
margin_error=critical_value * se

Enter Highly satisfied customers, Please enter under 200 customers : 172

In [199]:
Confidence_level=p+margin_error
Confidence_level

0.8914437497433144

In [200]:
Confidence_level=p-margin_error
Confidence_level

0.8285562502566856

#Problem Statement - 02

In [201]:
X=int(input("Enter Speed :"))
p=stats.norm.cdf(X,75,15)
p

Enter Speed :100

0.9522096477271853

In [202]:
1-p

0.047790352272814696

#Problem Statement - 03

In [203]:
!wget https://raw.githubusercontent.com/hemalkachhadiya09/Analysis-Data/main/kerala.csv

--2022-06-28 13:11:49--  https://raw.githubusercontent.com/hemalkachhadiya09/Analysis-Data/main/kerala.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10181 (9.9K) [text/plain]
Saving to: ‘kerala.csv.8’

kerala.csv.8        100%[===================>]   9.94K  --.-KB/s    in 0s

2022-06-28 13:11:49 (72.0 MB/s) - ‘kerala.csv.8’ saved [10181/10181]

In [204]:
df=pd.read_csv('kerala.csv')
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [205]:
df.shape

(118, 16)

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [207]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

In [208]:
df1=df[['YEAR','JUN','JUL','FLOODS']]
df1.head()

   YEAR     JUN     JUL FLOODS
0  1901   824.6   743.0    YES
1  1902   390.9  1205.0    YES
2  1903   558.6  1022.5    YES
3  1904  1098.2   725.5    YES
4  1905   850.2   520.5     NO

In [209]:
df1['JUN_GT_500']=(df1['JUN'] >500).astype('int')
df1['JUL_GT_500']=(df1['JUL'] >500).astype('int')
df1.drop(columns=df1[['JUN','JUL']] ,inplace=True)
df1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   YEAR FLOODS  JUN_GT_500  JUL_GT_500
0  1901    YES           1           1
1  1902    YES           0           1
2  1903    YES           1           1
3  1904    YES           1           1
4  1905     NO           1           1

In [210]:
df1 = df1.replace({'FLOODS': {'YES': 1, 'NO': 0}})
df1.head()

   YEAR  FLOODS  JUN_GT_500  JUL_GT_500
0  1901       1           1           1
1  1902       1           0           1
2  1903       1           1           1
3  1904       1           1           1
4  1905       0           1           1

In [211]:
survey_data = pd.crosstab(index=df1['JUN_GT_500'], columns=df1['FLOODS'], margins=True)
survey_data

FLOODS       0   1  All
JUN_GT_500
0           19   6   25
1           39  54   93
All         58  60  118

##Calculate the probability of flood given it rained more than 500 mm in June 
(P(A|B))

In [212]:
54/93

0.5806451612903226

## Calculate the probability of rain more than 500 mm in June, given it flooded that 
year (P(B|A))

In [213]:
54/60

0.9

##Probability of flood given it rained more than 500 mm in July

In [214]:
data1 = pd.crosstab(index=df1['FLOODS'], columns=df1['JUL_GT_500'], margins=True)
data1

JUL_GT_500   0   1  All
FLOODS
0           19  39   58
1            3  57   60
All         22  96  118

In [215]:
54/93

0.5806451612903226

In [216]:
57/60

0.95

#Problem Statement - 04

In [217]:
from sklearn.datasets import load_wine
lw=load_wine()
X=lw.data
y=lw.feature_names

In [218]:
df=pd.DataFrame(X,columns=y)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [219]:
sample=df.sample(n=50,random_state=100)

In [220]:
z_critical=stats.norm.ppf(q=0.95)
z_critical

1.6448536269514722

In [221]:
pop_std = sample['alcohol'].std()

In [222]:
Margin_error = z_critical * (pop_std/sqrt(50))
Margin_error

0.17880519784197366

In [223]:
sample_mean=sample['alcohol'].mean()
sample_mean

12.9736

In [224]:
sample_mean + Margin_error, sample_mean - Margin_error

(13.152405197841974, 12.794794802158025)